body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding-top: 2px;
}

.nav-title {
  font-size: 20px;
  color: #b3e0ff;
}

img {
  border: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

#map {
  bottom: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
}

.list-group {
  display: inline-block;
  width: 40%;
}

.list-group-item {
  margin-top: auto;
  margin: auto;
  color: #b3e0ff;
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
}

span {
  color: #000000;
  font-size: 16px;
}

.dropdown-toggle {
  background-color: #333;
  color: #bb99ff;
}
